<!--*****************************************************************************************************************
     Copyright 2016 Chanthu Oeur. All rights reserved.
     You may not copy, reproduce, republish, disassemble, decompile, reverse engineer, post, broadcast, transmit, or
     make available to the public any content or code on this website without prior written permission from Chanthu Oeur.
    *****************************************************************************************************************-->

<title>About</title>
<meta name="description" content="Learn more about me and my cause." />

<div class="container">
  <div class="row">
    <div class="col-md-6 psize div-pad">
      <div class="div div-margin">
        <h3 class="martop">
          My Cause
        </h3>
        <p>
          With this website I hope to raise awareness about the poverty-stricken people in Cambodia. I use
          the power of social media to spread the word.
        </p>
      </div>
    </div>
    <div class="col-md-6 psize div-pad">
      <div class="div div-margin">
        <h3 class="martop">
          My Story
        </h3>
        <p>
          Read my childhood story about how I survived in Cambodia during the Pol Pot and Khmer Rouge
          genocide.
        </p>
        <a href="/chanthu"><span class="btn btn-default btn-margin">Chanthu Oeur</span></a>
      </div>
    </div>
    <div class="col-md-6 psize div-pad">
      <div class="div div-margin">
        <h3 class="martop">
          My Photos
        </h3>
        <p>
          Here is my family photo album showing my life in the Thai refugee camps. There area
          are also some shots of when I was reunited with her family in Asia 20 years later.
        </p>
        <a href="/photo"><span class="btn btn-default btn-margin">Photos</span></a>
      </div>
    </div>
    <div class="col-md-6 psize div-pad">
      <div class="div div-margin">
        <h3 class="martop">
          Videos
        </h3>
        <p>
          Here are some videos explaining Cambodia's history during the Pol Pot Khmer Rouge
          regime. They show what life was like for many Cambodians during that time period.
        </p>
        <a href="/video"><span class="btn btn-default btn-margin">Videos</span></a>
      </div>
    </div>
  </div>
</div>
