<!--*****************************************************************************************************************
     Copyright © 2016 Feed. All rights reserved.
     You may not copy, reproduce, republish, disassemble, decompile, reverse engineer, post, broadcast, transmit, or
     make available to the public any content or code on this website without prior written permission from Feed.
    *****************************************************************************************************************-->

<title>Feed | About Us</title>
<meta name="description" content="Feed Cambodia is a brand new start-up charity organization." />

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h3>
        About Feed Cambodia
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 psize">
      <p>
        Feed Cambodia is a brand new start-up charity organization founded by
        <a href="#/chanthu">Chanthu Oeur</a>. Our goal is to provide assistance
        to poverty-stricken people in Cambodia that are lacking life's essentials such as food, medicine,
        clothing, and shelter. We maximize the money going to those in need by
        keeping our costs low and spending your donations wisely.
      </p>
    </br>
      <h4>
        Aware, Care, Share
      </h4>
    </br>
      <p>
        Our goal of providing assistance to Cambodians in need is achieved by three steps.
        Aware, Care, and Share:
      </p>
    </br>
      <p>
        <strong>Aware:</strong> Through the use of low-cost social media marketing and other web-based
        technology, we hope to foster awareness about the plight of many Cambodians that are in desperate
        need of assistance.
      </p>
      <p>
        <strong>Care:</strong> Once we have reached out to individuals and they are aware of the
        situation in Cambodia, we hope they will care and went to do something about it.
      </p>
      <p>
        <strong>Share:</strong> Those that care about what is going on in Cambodia may want to share.
        They can share by making a donation or by helping us spread the word through social media
        channels.
      </p>
    </div>
  </div>
</div>
