<!--*****************************************************************************************************************
     Copyright 2014 - 2017 Lahuna. All rights reserved.
     You may not copy, reproduce, republish, disassemble, decompile, reverse engineer, post, broadcast, transmit, or
     make available to the public any content or code on this website without prior written permission from Chanthu Oeur.
    *****************************************************************************************************************-->

<title>About</title>
<meta name="description" content="Learn more about me and my cause." />

<div class="container">
  <div class="row">
    <div class="col-md-6 psize div-pad">
      <div class="div div-margin about-head-min">
        <p>
          With this website I hope to raise awareness about poverty-stricken people in Cambodia.
          Checkout my story, photos, and videos if you would like to learn more.
          Follow my Facebook page to stay up-to-date on new information I post to this site.
        </p>
        <div class="fb-follow"
          data-href="https://www.facebook.com/feedcambodia1"
          data-layout="standard"
          data-size="large"
          data-show-faces="false">
        </div>
      </div>
    </div>
    <div class="col-md-6 psize div-pad">
      <div class="div div-margin about-head-min">
        <h3 class="martop">
          My Story
        </h3>
        <p>
          Read my childhood story about how I survived in Cambodia during the Pol Pot and Khmer Rouge
          genocide.
        </p>
        <a href="/#/chanthu"><span class="btn btn-default pop btn-margin">Chanthu Oeur</span></a>
      </div>
    </div>
    <div class="col-md-6 psize div-pad">
      <div class="div div-margin about-foot-min">
        <h3 class="martop">
          My Photos
        </h3>
        <p>
          Here is my family photo album showing my life in the Thai refugee camps. There area
          are also some shots of when I was reunited with my family in Asia 20 years later.
        </p>
        <a href="/#/photo"><span class="btn btn-default pop btn-margin">Photos</span></a>
      </div>
    </div>
    <div class="col-md-6 psize div-pad">
      <div class="div div-margin about-foot-min">
        <h3 class="martop">
          Videos
        </h3>
        <p>
          Here are some videos explaining Cambodia's history during the Pol Pot Khmer Rouge
          regime. They show what life was like for many Cambodians during that time period.
        </p>
        <a href="/#/video"><span class="btn btn-default pop btn-margin">Videos</span></a>
      </div>
    </div>
  </div>
</div>
