<!--*****************************************************************************************************************
     Copyright 2016 Chanthu Oeur. All rights reserved.
     You may not copy, reproduce, republish, disassemble, decompile, reverse engineer, post, broadcast, transmit, or
     make available to the public any content or code on this website without prior written permission from Chanthu Oeur.
    *****************************************************************************************************************-->

<title>My Story</title>
<meta name="description" content="Chanthu Oeur, creator of feedcambodia.com." />

<meta property="og:url" content="https://feedcambodia.com/chanthu"/>

<div class="container">
  <div class="row">
    <div class="col-md-3 div-width div-pad">
      <div class="div div-margin">
        <div class="row">
          <h3 class="text-center martop">
            Chanthu Oeur
          </h3>
        </div>
        <div class="row">
          <a href="https://lh3.googleusercontent.com/-69Mylf3RlmA/V_7tVYCq7RI/AAAAAAAAAKg/ExY9K_08EbE-4MJCMLpkG43POnEgJVbTQCHM/s2048/FB_IMG_1475722124848.jpg">
            <img  class="img img-responsive img-thumbnail center-block" src="https://lh3.googleusercontent.com/-69Mylf3RlmA/V_7tVYCq7RI/AAAAAAAAAKg/ExY9K_08EbE-4MJCMLpkG43POnEgJVbTQCHM/s250/FB_IMG_1475722124848.jpg" alt="Recent photo of Chanthu Oeur"/>
          </a>
        </div>
        <div class="row text-center">
          <a href="/photo"><span class="btn btn-default pop">View My Photos</span></a>
        </div>
        <div class="row text-center">
          <div class="fb-like"
            data-href="https://feedcambodia.com/chanthu"
            data-layout="button_count"
            data-action="like"
            data-show-faces="false"
            data-size="large"
            data-share="true">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8 psize div-pad">
      <div class="div div-margin">
        <p>
          Hello, my name is Chanthu Oeur, creator of feedcambodia.com. I have recently been involved in
          helping the less fortunate, including friends diagnosed with cancer. Having lived through a difficult
          childhood in Cambodia, I sympathize with the poverty-stricken people living there today. With this website,
          I hope to raise awareness about the difficult life facing many Cambodians. To learn more about me, please
          read my childhood story below and view my <a href="/photo">photo album</a>.
        </p>
      </div>
    </div>
    <div class="col-md-8 psize div-pad">
      <div class="div div-margin">
        <h4 class="text-center">
          My Childhood in Cambodia
        </h4>
        <p class="text-center">
          by Chanthu Oeur
        </p>
        <p>
          I was born in Battambong,
          Cambodia a few years before Pol Pot and the Khmer Rouge came to power. I am the youngest of eight siblings, and
          I have five sisters and two brothers. My mother passed away when I was a baby, and my grandparents passed before
          I was born. I never knew my aunts, uncles, or cousins because my family lost touch with them when I was
          very young. When I was about six years old,
          the Khmer Rouge separated me from my family and I was sent to an orphanage. My sisters Chay, Maly, and Navy
          and my brothers Yoeut and Youk were sent to various labor camps
          where they would work farming rice or building farming infrastructure such as dams. The Khmer Rouge was all
          about becoming a fully self-sufficient agricultural society like our ancient ancestors at the height of the
          Angkorian Empire.
        </p>
        <p>
          My father, Soeurn, and sisters Sort and Thy, were taken to the Bak Anreg extermination camp in Battambong.
          Sort's husband was a doctor and
          Thy's husband was part Vietnamese. Both men had fled the country because they had been targeted for extermination.
          The Khmer Rouge was executing those that were educated or of impure ancestry. Because their husbands had evaded
          execution, Sort and Thy, as well as my father, would be executed in reprisal. While at the camp they would see people,
          even small children, escorted away carrying shovels to never return again. They assumed those people dug their own
          graves and would then be executed. They watched people walk away, day after day, wondering when it would be their turn.
          Days turned into months. Months turned into years. Fortunately their turn never came. The Vietnamese invaded, and they
          escaped in the chaos.
        </p>
        <p>
          Meanwhile, at the orphanage, the children and I would work all day clearing brush and weeds. We would only receive one small
          bowl of watered-down rice porridge twice daily. No other food or snacks were provided. We weren't the only ones living
          under these harsh conditions. All of Cambodia lived this way while the Khmer Rouge was in power. While I was working one day,
          I received a small cut on my leg that was not properly taken care of. The cut
          became infected and was so painful I could not walk. The wound eventually became infested with maggots. I was taken to a
          hospital, but there was no medicine and little they could do for treatment. There I laid in bed fearing the constant sound
          of gunfire that was close by and wondering if I would ever see my family again.
        </p>
        <p>
          Eventually, my sister Chay found me through word of mouth. One of the guards at her work camp had taken a liking to her
          and allowed her to leave work briefly to visit me every couple of weeks or so. There was also a kind women that was a
          patient at the hospital who noticed I was so young and received practically no visitors. One night, the women sensed
          that the fighting was getting too close and that we were in imminent danger. She and her husband snuck me out of the
          hospital and took me to their house. There they cared for me and my wound. Chay was later liberated from her work camp
          and wanted to find me. She tracked me down at the couple's house and was ready to reunite me with the rest of my family.
          At first the couple was reluctant to let me go because they were eager to have me as their own daughter. However, Chay
          was able to convince them that the best thing for me was to be with my family.
        </p>
        <p>
          During the Vietnamese invasion, Chay and I found my brother Yoeut and my sisters Maly and Navy. We were able to escape
          at night on foot to a refugee camp in Thailand. Later my father and other siblings reunited with us there. It was a miracle
          that we all ended up at the same camp.
        </p>
        <p>
          Later, My sister Chay and brothers Youk and Yoeut left the camp to find work.
          The three of them would later be stuck outside the camp and would not receive sponsorship to move to the USA.
        </p>
        <p>
          Those of us that remained in the camp moved around to about 7 different refugee camps over the next 5 years. In 1984
          my sister Navy, my father, and I were sponsored to come to the USA to live. We ended up in California along with my
          sisters Sort, Thy, and Maly. My brothers Youk and Yoeut and my sister Chay were never able to move to the USA and would
          not be reunited with us until our visit to Asia 20 years later.
        </p>
        <p>
          Amazingly, my whole family survived the Khmer Rouge genocide and fighting. That is quite a miracle considering one
          fourth of the Cambodian population was killed during that time period. My sister Thy and my brother Yoeut both stepped
          on land-mines. They did not lose any limbs, but both still have shrapnel in their bodies. Yoeut was severely injured
          in his torso and nearly lost his life.
        </p>
      </div>
    </div>
  </div>
</div>
