<!--*****************************************************************************************************************
     Copyright © 2016 Feed. All rights reserved.
     You may not copy, reproduce, republish, disassemble, decompile, reverse engineer, post, broadcast, transmit, or
     make available to the public any content or code on this website without prior written permission from Feed.
    *****************************************************************************************************************-->

<title>Feed | About Chanthu</title>
<meta name="description" content="Cambodian, Chanthu Oeur, founder of Feed Cambodia." />

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>
        Chanthu Oeur
      </h3>
      <p>
        Hi, my name is Chanthu Oeur and I am the founder of Feed Cambodia. I was born
        in Battambong, Cambodia. During the Khmer Rouge regime, my family and
        I were able to escape the turmoil and enter a refugee camp in Thailand. We were
        later sponsored to move to the United States. Eventually we became US citizens
        and made California our permanent home.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      
    </div>
  </div>
</div>
