<!--*****************************************************************************************************************
     Copyright 2014 - 2017 Lahuna. All rights reserved.
     You may not copy, reproduce, republish, disassemble, decompile, reverse engineer, post, broadcast, transmit, or
     make available to the public any content or code on this website without prior written permission from Lahuna.
    *****************************************************************************************************************-->

<title>Endorsements</title>
<meta name="description" content="Read and post endorsements here." />

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 div psize">
      <h4 class="martop">
        Endorsements
      </h4>
      <p>
        If you believe in my cause and trust my efforts to help the poor in Cambodia, please endorse my website.
        Show your support by commenting below.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2 div">
      <div class="fb-comments"
        data-href="https://feedcambodia.com"
        data-colorscheme="light"
        data-mobile="true"
        data-numposts="10"
        data-order-by="reverse_time"
        data-width="100%">
      </div>
    </div>
  </div>
</div>
