<!--*****************************************************************************************************************
     Copyright 2016 Feed. All rights reserved.
     You may not copy, reproduce, republish, disassemble, decompile, reverse engineer, post, broadcast, transmit, or
     make available to the public any content or code on this website without prior written permission from Feed.
    *****************************************************************************************************************-->

<title>Feed | Comments</title>
<meta name="description" content="Read and post comments here." />

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 div">
      <h4 class="martop">
        Endorsements
      </h4>
      <p>
        Have you worked with us in the past or know us personally? If you trust the charity work we are doing
        and believe in our cause, please publicly endorse us. Show your support by commenting below.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2 div">
      <div class="fb-comments"
        data-href="https://feedcambodia.com"
        data-colorscheme="light"
        data-mobile="true"
        data-numposts="10"
        data-order-by="social"
        data-width="100%">
      </div>
    </div>
  </div>
</div>
