<!--*****************************************************************************************************************
  Copyright 2014-2020 Feed Cambodia. All rights reserved.
  You may not copy, reproduce, republish, disassemble, decompile, reverse engineer, post, broadcast, transmit, or
  make available to the public any content or code on this website without prior written permission from Feed Cambodia.
  *****************************************************************************************************************-->
	<title>Contact | Suggestions | Feedback | Questions</title>
	<meta name="description" content="Let me know if you have any suggestions, feedback, or questions.
		I will do my best to get back to you in a timely manner." />
	<div class="container">
        <div class="row">
			<div class="col-md-6 col-md-offset-3 div-pad psize">
				<div class="div div-margin">
					<h2 style="margin-top:0px">Contact</h2>
				</div>
			</div>
        </div>
		<div class="row">
			<div class="col-md-6 col-md-offset-3 div-pad psize">
				<div class="div div-margin">
                    <p>For general questions about the website:</p>
                    <p>Email: feedcambodia@gmail.com
				</div>
			</div>
        </div>
        <div class="row">
			<div class="col-md-6 col-md-offset-3 div-pad psize">
				<div class="div div-margin">
                    <p>For questions about tours and transportation services in Cambodia:</p>
                    <p>Email: info@ndcco.net</p>
                    <p>WhatsApp: +855 96 555 6514</p>
                    <p>Phone: +855 12 559 183</p>
				</div>
			</div>
        </div>
        <div class="row">
			<div class="col-md-6 col-md-offset-3 div-pad psize">
				<div class="div div-margin">
                    <p>Find us on social media:</p>
                    <p><a href="https://instagram.com/feedcambodia" target="_blank">Instagram</a></p>
                    <p><a href="https://facebook.com/feedcambodia" target="_blank">Facebook</a></p>
                    <p><a href="https://youtube.com/c/feedcambodia" target="_blank">Youtube</a></p>
                    <p><a href="https://twitter.com/feed_cambodia" target="_blank">Twitter</a></p>
                    <p><a href="https://feedcambodia.tumblr.com" target="_blank">Tumblr</a></p>
                    <p><a href="https://www.flickr.com/photos/feedcambodia" target="_blank">Flickr</a></p>
				</div>
			</div>
		</div>
	</div>