<!--*****************************************************************************************************************
     Copyright 2014 - 2017 Lahuna. All rights reserved.
     You may not copy, reproduce, republish, disassemble, decompile, reverse engineer, post, broadcast, transmit, or
     make available to the public any content or code on this website without prior written permission from Lahuna.
    *****************************************************************************************************************-->

<title>Feed | Facebook</title>
<meta name="description" content="Here is our Facebook timeline." />

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="fb-page"
        data-href="https://www.facebook.com/feedcambodia1"
        data-tabs="timeline"
        data-small-header="true"
        data-adapt-container-width="true"
        data-hide-cover="false"
        data-hide-cta="false"
        data-height="800"
        data-show-facepile="true">
      </div>
    </div>
  </div>
</div>

<!--        data-width="500"-->
