<!--*****************************************************************************************************************
     Copyright 2016 Chanthu Oeur. All rights reserved.
     You may not copy, reproduce, republish, disassemble, decompile, reverse engineer, post, broadcast, transmit, or
     make available to the public any content or code on this website without prior written permission from Chanthu Oeur.
    *****************************************************************************************************************-->

<title>Flickr Search {{search}}</title>
<meta name="description" content="Flickr Search {{search}}" />

<div class="container">
  <div class="row">
    <!--<div class="col-md-2 div-pad">
      <div class="div div-margin">
        <h4 class="mar">Flickr Search</h4>
      </div>
    </div>-->
    <div class="col-md-7 div-pad">
      <div class="div div-margin martop1">
        <div class="input-group">
          <input ng-model="search" ng-keydown="goSearch($event)"
             type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button" ng-click="clickSearch()"><span class="glyphicon glyphicon-search"></span></button>
          </span>
        </div>
      </div>
    </div>
    <div class="col-md-5 div-pad">
      <div class="div2 div-margin">
        <div class="dropdown inline">
          <button class="btn btn-default dropdown-toggle stack-gap" type="button" id="dd" data-toggle="dropdown" aria-expanded="true">
            {{licText}}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dd">
            <li ng-repeat="l in licList" role="presentation"><a role="menuitem" tabindex="-1" ng-click="selectLicense(l.id)">{{l.name}}</a></li>
          </ul>
        </div>
        <a href="/flickr/license" class="inline"><span class="btn btn-default stack-gap">?</span></a>
      </div>
    </div>
    <div class="col-md-12">
      <span ng-repeat="item in info" class="img-thumbnail thumb">
        <a href="/flickr/{{item.id}}" title="{{item.title}}">
          <img ng-src="{{item.url_q}}" class="img-responsive"/>
        </a>
      </span>
    </div>
  </div>
</div>
