<!--*****************************************************************************************************************
     Copyright © 2014 - 2016 Feed. All rights reserved.
     You may not copy, reproduce, republish, disassemble, decompile, reverse engineer, post, broadcast, transmit, or
     make available to the public any content or code on this website without prior written permission from Feed.
    *****************************************************************************************************************-->

<title>Feed | Cambodia</title>
<meta name="description" content="Help those in need." />
<link rel="stylesheet" href="css/common.css" />

<div class="container">
    <div class="row">
      <div class="col-md-4">
        <h1 class="heading">Feed Cambodia</h1>
      </div>
      <div class="col-md-2">
        <div class="btn-pad">
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="6FW3KSC96K65W">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>
        </div>
      </div>
      <div class="col-md-6">
        <h2 class="heading">Donate now to help those in need</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="social row">
          <div class="col-sm-7">
            <div class="fb-like" data-href="https://feedcambodia.com" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
          </div>
         <!--<div class="fb-follow" data-href="https://www.facebook.com/Jon-Juano-Davison-250766964978678" data-layout="button_count" data-show-faces="true"></div>-->
         <div class="col-sm-2 twitter"><!--data-size="large"-->
           <a href="https://twitter.com/share"
              class="twitter-share-button"
              data-url="https://feedcambodia.com"
              data-text="Help those in need"
              data-via="LahunaWeb"
              data-related="LahunaWeb"
              data-hashtags="feedcambodia">Tweet</a>
         </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <img src="/images/flag.png" class="img img-responsive" alt="Cambodian Flag"/>
      </div>
    </div>
</div>
