<!--*****************************************************************************************************************
     Copyright © 2016 Feed. All rights reserved.
     You may not copy, reproduce, republish, disassemble, decompile, reverse engineer, post, broadcast, transmit, or
     make available to the public any content or code on this website without prior written permission from Feed.
    *****************************************************************************************************************-->

<title>Feed Cambodia</title>
<meta name="description" content="Help those in need." />
<link rel="stylesheet" href="css/common.css" />

<div class="container">
    <div class="row">
      <div class="col-md-4">
        <h1 class="heading">Feed Cambodia</h1>
      </div>
      <div class="col-md-2">
        <div class="btn-pad">
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="6FW3KSC96K65W">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>
        </div>
      </div>
      <div class="col-md-6">
        <h2 class="heading">Let's work together to help those in need</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2  col-md-offset-4 social">
        <div class="fb-like" data-href="https://feedcambodia.com" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
      </div>
     <!--<div class="fb-follow" data-href="https://www.facebook.com/Jon-Juano-Davison-250766964978678" data-layout="button_count" data-show-faces="true"></div>-->
     <div class="col-sm-2 social"><!--data-size="large"-->
       <a href="https://twitter.com/share"
          class="twitter-share-button"
          data-url="https://feedcambodia.com"
          data-text="Help those in need"
          data-via="Feed"
          data-related="Feed"
          data-hashtags="feedcambodia">Tweet</a>
     </div>
    </div>
    <div class="row">
      <div class="col-md-12 flag">
        <img src="/images/received_343606625985414.jpeg" class="img img-responsive" alt="Cambodian Flag"/>
      </div>
    </div>
    <!--<div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="getty embed image" style="background-color:#fff;display:inline-block;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;color:#a7a7a7;font-size:11px;width:100%;max-width:594px;"><div style="padding:0;margin:0;text-align:left;"><a href="http://www.gettyimages.com/detail/96462185" target="_blank" style="color:#a7a7a7;text-decoration:none;font-weight:normal !important;border:none;display:inline-block;">Embed from Getty Images</a></div><div style="overflow:hidden;position:relative;height:0;padding:66.666667% 0 0 0;width:100%;"><iframe src="//embed.gettyimages.com/embed?assets=96462185,96462195,96475895,96462178,96462193&et=8yVJBXGSQox5oF66-dIRuQ&viewMoreLink=on&sig=qTf7D94OyLtIl2AV3YTWfZkhc0rPKTIHDfM3CnK21vs=" width="594" height="396" scrolling="no" frameborder="0" style="display:inline-block;position:absolute;top:0;left:0;width:100%;height:100%;margin:0;"></iframe></div><p style="margin:0;"></p></div>
      </div>-->
    </div>
</div>
