<!--*****************************************************************************************************************
     Copyright 2016 Feed. All rights reserved.
     You may not copy, reproduce, republish, disassemble, decompile, reverse engineer, post, broadcast, transmit, or
     make available to the public any content or code on this website without prior written permission from Feed.
    *****************************************************************************************************************-->

<title>Feed Cambodia</title>
<meta name="description" content="Help those in need." />

<meta property="og:url" content="https://feedcambodia.com"/>

<div class="container">
  <div class="row">
    <div class="col-sm-6 div-pad text-center">
      <div class="div div-margin">
        <h1>Feed Cambodia</h1>
        <h3>Let's work together to help those in need</h3>
        <div class="btn-margin-top">
          <a href="/about"><span class="btn btn-default btn-margin">About Us</span></a>
          <a href="/contact"><span class="btn btn-default btn-margin">Contact Us</span></a>
          <a href="/social"><span class="btn btn-default btn-margin">Find Us</span></a>
          <a href="/comment"><span class="btn btn-default btn-margin">Endorsements</span></a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 div-pad">
      <div class="div div-margin">
        <span class="psize">
          <p>
            Feed Cambodia is a financially-responsible, technology-based, charity organization that raises funds to
            assist poverty-stricken people in Cambodia. We strive to keep our costs low so more donation funds go to
            those that need it. We utilize word-of-mouth and the power of social media sharing to raise awareness
            about the difficult life facing many Cambodians today.
          </p>
          <p>
            You can help by making a donation, endorsing us, or
            spreading the word about our cause through social media such as Facebook.
          </p>
        </span>
      </div>
    </div>

    <div class="col-sm-4 div-pad">
      <div class="div div-margin">
        <span class="psize">
          <p class="donate">
            <strong>Donate:</strong> Donations, however small, go a long way and will make a huge difference.
          </p>
        </span>
        <span class="payp">
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="6FW3KSC96K65W">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="Donate with Paypal">
            <img alt="Donate with Paypal" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>
        </span>
      </div>
    </div>

    <div class="col-sm-4 div-pad">
      <div class="div div-margin">
        <span class="psize">
          <p>
            <strong>Share:</strong> Help us spread the word by sharing our cause across the Web.
          </p>
        </span>
        <span>
            <div class="fb-like social"
              data-href="https://feedcambodia.com"
              data-layout="button_count"
              data-action="like"
              data-show-faces="false"
              data-size="large"
              data-share="true">
            </div>
          </span>
      </div>
    </div>

    <div class="col-sm-4 div-pad">
      <div class="div div-margin">
        <span class="psize">
          <p>
            <strong>Endorse:</strong> If you believe in our cause and trust our organization, please endorse us.
          </p>
        </span>
        <a href="/comment"><span class="btn btn-default btn-margin">Endorse</span></a>
      </div>
    </div>

    <div class="col-sm-6 div-pad">
      <div class="div div-margin story">
        <span>
          <a href="/chanthu" class="side-pic">
            <img class="img img-responsive img-thumbnail"
            src="https://lh3.googleusercontent.com/-h5H3QdyxAkk/V_7tVQEQ-QI/AAAAAAAAATA/Xs3gGl4WoWUocvYiBzpILIGzzBYvBORAQCHM/s185/IMG_20160930_105135889-2.jpg" alt="Chanthu Oeur at Thai refugee camp"/>
          </a>
        </span>
        <span class="psize">
          <p>
            Hello, my name is Chanthu Oeur and I am the founder of Feed Cambodia. Here is a picture of me in a Thai refugee
            camp in 1983 after I escaped the horrifying genocide in Cambodia that was carried out by Pol Pot and the Khmer Rouge.
            Please read my story of survival and view my photos.
          </p>
          <a href="/chanthu"><span class="btn btn-default btn-margin">My Story</span></a>
          <a href="/photo"><span class="btn btn-default btn-margin">Photos</span></a>
        </span>
      </div>
    </div>

    <div class="col-sm-6 div-pad">
      <div class="div div-margin">
        <span class="text-center center-block">
          <h4 class="inline">A Cambodian woman named Ouw needs our help buying a bed</h4>
          <a href="/ouw"><span class="btn btn-default btn-margin learn">Learn More</span></a>
        </span>
        <a href="/ouw">
          <img src="https://lh3.googleusercontent.com/-o-dwizxg3G4/WAJj23_P2MI/AAAAAAAAAQA/i1jBB3L44LMqb9LlowY59tMfCIgTmAxDgCHM/s800/received_343606625985414.jpeg"
          class="img img-responsive img-thumbnail center-block" alt="A woman named Ouw that needs our help buying a bed"/>
        </a>
      </div>
    </div>





  </div>
</div>
