<!--*****************************************************************************************************************
     Copyright 2016 Chanthu Oeur. All rights reserved.
     You may not copy, reproduce, republish, disassemble, decompile, reverse engineer, post, broadcast, transmit, or
     make available to the public any content or code on this website without prior written permission from Chanthu Oeur.
    *****************************************************************************************************************-->

<title>Ip</title>
<meta name="description" content="Ip" />

<div class="container">
  <div class="row">
    <div class="col-sm-12 div-pad">
      <div class="div div-margin">
        <a href="/#/log/{{ip}}"><span class="btn btn-default pop btn-margin">Log</span></a>
        <a href="/#/ip" ng-show=ip><span class="btn btn-default pop btn-margin">Show All</span></a>
        <span class="btn btn-default pop btn-margin" ng-click="deleteAll()">Clear Ip</span>
      </div>
    </div>
    <div class="col-sm-3 div-pad" ng-repeat="item in log.list | orderBy : '-date'">
      <div class="div div-margin">
        <div>{{item.date | date}}</div>
        <div>{{item.ipAddress}}</div>
        <div>{{item.city}}</div>
        <div>{{item.stateProv}}</div>
        <div>{{item.countryName}}</div>
        <div><span class="btn glyphicon glyphicon-trash" ng-click="delete($index, item._id)"></span></div>
      </div>
    </div>
  </div>
</div>
