<!--*****************************************************************************************************************
     Copyright 2014-2018 Lahuna. All rights reserved.
     You may not copy, reproduce, republish, disassemble, decompile, reverse engineer, post, broadcast, transmit, or
     make available to the public any content or code on this website without prior written permission from Lahuna.
    *****************************************************************************************************************-->

	<title>Kimlean</title>
	<meta name="description" content="Kimlean taxi driver in Siem Reap, Cambodia." />
	
	<meta property="og:url" content="https://feedcambodia.com/kimlean"/>
	
	<div class="container">
	  <div class="row">

		<div class="col-sm-6 div-pad text-center">
		  <div class="div div-margin">
			<h1>Kimlean Taxi Service</h1>
			<h3>Transportation in Siem Reap, Cambodia</h3>
			<div class="btn-margin-top">
			  <a href="/#/contact"><span class="btn btn-default pop btn-margin">Contact</span></a>
			  <a href="https://www.facebook.com/profile.php?id=100005151497020" target="_blank">
				<span class="btn btn-default pop btn-margin">Facebook</span></a>
			</div>			
		  </div>
		</div>
		
		<div class="col-sm-6 div-pad">
		  <div class="div div-margin">
			<p style="font-size: 20px;">
				Thank you for coming to Cambodia and contacting me. I have a lot of services for you and I am happy to help.
			</p>
			<!--<ul style="font-size: 18px;">
				<li>Free cool water and cool towels all the time</li>
				<li>Pick up and transport anywhere in Siem Reap</li>
			</ul>-->
			<p style="font-size: 18px; margin-top: 34px">
					Email: kim.lean@yahoo.com
				</p>
				<p style="font-size: 18px;">
					Phone: +855 96 555 6514
				</p>
				<p style="font-size: 18px;">
					WhatsApp: +855 88 9333 020
				</p>
		  </div>
		</div>

		<!--<div class="col-sm-12 div-pad">
			<div class="div div-margin">
				<ul style="font-size: 18px;">
					<li>30 minute Mini tour: Angkor Wat + Angkor Thom + Bayon + Ta Promh + Banteay Kdey: $15</li>
					<li>Sunrise including: $20</li>
					<li>Grand Tour: Preah Khan + Neak Pean + Ta Som + East Mebone + Pre Rub: $20</li>
					<li>Banteay Srey + Angkor Complex (Small Circuit or Grand Circuit): $35</li>
					<li>Beng Mealea + Kompong Phluk (Floating village + Flooded forest): $45</li>
					<li>Banteay Srey: $25/ Banteay Srey + Kbal Spean + Banteay Samer: $40</li>
					<li>Beng Mealea: $40</li>
					<li>Kompong Kleang (Floating village): $40</li>
					<li>Kulen mountain (Big waterfall): $60</li>
				</ul>
			</div>
		</div>-->

		<img class="img img-responsive img-thumbnail"
				src="/assets/kimlean/kimlean1.jpg" alt="Kimlean with his vehicle"/>

		<img class="img img-responsive img-thumbnail" 
				src="/assets/kimlean/kimlean2.jpg" alt="Kimlean with his vehicle"/>
	
		<img class="img img-responsive img-thumbnail" 
				src="/assets/kimlean/kimlean3.jpg" alt="Kimlean with his vehicle"/>

		<img class="img img-responsive img-thumbnail" 
				src="/assets/kimlean/kimlean4.jpg" alt="Kimlean with his vehicle"/>

		<img class="img img-responsive img-thumbnail"
				src="/assets/kimlean/kimlean5.jpg" alt="Kimlean with his vehicle"/>

		<img class="img img-responsive img-thumbnail" 
				src="/assets/kimlean/kimlean6.jpg" alt="Kimlean with his vehicle"/>
	
		<img class="img img-responsive img-thumbnail" 
				src="/assets/kimlean/kimlean7.jpg" alt="Kimlean with his vehicle"/>

		<img class="img img-responsive img-thumbnail" 
				src="/assets/kimlean/kimlean8.jpg" alt="Kimlean with his vehicle"/>

	  </div>
	</div>
	