<!--*****************************************************************************************************************
     Copyright 2014-2018 Lahuna. All rights reserved.
     You may not copy, reproduce, republish, disassemble, decompile, reverse engineer, post, broadcast, transmit, or
     make available to the public any content or code on this website without prior written permission from Lahuna.
    *****************************************************************************************************************-->

<title>Learn</title>
<meta name="description" content="Learn more about Cambodia." />

<div class="container">
  <div class="row">
    <div class="col-md-6 psize div-pad">
      <div class="div div-margin about-foot-min">
        <h3 class="martop">
          Wiki
        </h3>
        <p>
          Learn more about Cambodia with our Wiki app. You can search the entire Wikipedia database
          for information about Cambodia.
        </p>
        <a href="/#/wiki"><span class="btn btn-default pop btn-margin">Wiki</span></a>
      </div>
    </div>
    <div class="col-md-6 psize div-pad">
      <div class="div div-margin about-foot-min">
        <h3 class="martop">
          Images
        </h3>
        <p>
          Search for awesome photos of Cambodia with our Flickr photo app. Share your favorites with
          all your friends.
        </p>
        <a href="/#/flickr"><span class="btn btn-default pop btn-margin">Images</span></a>
      </div>
    </div>
    <div class="col-md-6 psize div-pad">
      <div class="div div-margin about-foot-min">
        <h3 class="martop">
          Videos
        </h3>
        <p>
          Here are some videos explaining Cambodia's history during the Pol Pot Khmer Rouge regime. 
          There are also some videos that show what life is like for the poor in Cambodia today.
        </p>
        <a href="/#/video"><span class="btn btn-default pop btn-margin">Videos</span></a>
      </div>
    </div>
    <div class="col-md-6 psize div-pad">
      <div class="div div-margin about-foot-min">
        <h3 class="martop">
          Video Search
        </h3>
        <p>
          Search the entire Youtube catalog for videos on any topic you choose. 
        </p>
        <a href="/#/video/search"><span class="btn btn-default pop btn-margin">Video Search</span></a>
      </div>
    </div>
  </div>
</div>
