<!--*****************************************************************************************************************
     Copyright 2014-2020 Feed Cambodia. All rights reserved.
     You may not copy, reproduce, republish, disassemble, decompile, reverse engineer, post, broadcast, transmit, or
     make available to the public any content or code on this website without prior written permission from Feed Cambodia.
    *****************************************************************************************************************-->

<title>Log</title>
<meta name="description" content="Log" />

<div class="container">
  <div class="row">
    <div class="col-sm-12 div-pad">
      <div class="div div-margin">
        <a href="/#/ip/{{ip}}" ng-show=ip><span class="btn btn-default pop btn-margin">Location</span></a>
        <a href="/#/log" ng-show=ip><span class="btn btn-default pop btn-margin">Show All</span></a>
        <span class="btn btn-default pop btn-margin" ng-click="deleteAll()">Clear Log</span>
      </div>
    </div>
    <div class="col-sm-3 div-pad" ng-repeat="item in log.list | orderBy : '-date'">
      <div class="div div-margin">
        <div>{{item.date | date}}</div>
        <div>{{item.path}}</div>
        <div>{{item.agent | agent}}</div>
        <div><a href="/#/log/{{item.ip}}">{{item.ip}}</a></div>
        <div><span class="btn glyphicon glyphicon-trash" ng-click="delete($index, item._id)"></span></div>
      </div>
    </div>
  </div>
</div>
