<!--*****************************************************************************************************************
     Copyright 2016 Feed. All rights reserved.
     You may not copy, reproduce, republish, disassemble, decompile, reverse engineer, post, broadcast, transmit, or
     make available to the public any content or code on this website without prior written permission from Feed.
    *****************************************************************************************************************-->

<title>Feed | Media</title>
<meta name="description" content="View Photos and Videos." />

<div class="container">
  <div class="col-md-12">
    <div class="row">
      {{src}}
      <img img img-responsive ng-src="{{src}}"/>
      <a href="/media?https://lh3.googleusercontent.com/-69Mylf3RlmA/V_7tVYCq7RI/AAAAAAAAASs/9c_gnnpyIjUkzVp6lG9RoN5raGJdLocZACHM/s2048/FB_IMG_1475722124848.jpg">
        <span class="btn btn-default">Go</span>
      </a>
    </div>
  </div>
</div>
