<!--*****************************************************************************************************************
     Copyright 2014 - 2017 Lahuna. All rights reserved.
     You may not copy, reproduce, republish, disassemble, decompile, reverse engineer, post, broadcast, transmit, or
     make available to the public any content or code on this website without prior written permission from Chanthu Oeur.
    *****************************************************************************************************************-->

<title>Media</title>
<meta name="description" content="View Photos." />

<div class="container">
  <div class="row">
    <div class="col-md-12 psize div-pad text-center">
      <div class="img-thumbnail div-margin1">
        <a href="{{q.src}}">
          <img class="img img-responsive maxh" ng-src="{{q.src}}" alt="{{q.alt}}"/>
        </a>
      </div>
      <div class="div div-margin1">
        <p>
          {{q.alt}}
        </p>
      </div>
    </div>
  </div>
</div>
