<!--*****************************************************************************************************************
     Copyright 2016 Feed. All rights reserved.
     You may not copy, reproduce, republish, disassemble, decompile, reverse engineer, post, broadcast, transmit, or
     make available to the public any content or code on this website without prior written permission from Feed.
    *****************************************************************************************************************-->

<title>Feed | About Our Organization</title>
<meta name="description" content="Feed Cambodia is a brand new start-up charity organization." />

<div class="container">
  <div class="row">
    <div class="col-md-12 psize div-pad">
      <div class="div div-margin">
        <h3 class="martop">
          About Feed Cambodia
        </h3>
        <p>
          Feed Cambodia is a brand new start-up charity organization founded by
          <a href="/chanthu">Chanthu Oeur</a>. Our goal is to provide assistance
          to poverty-stricken people in Cambodia that are lacking life's essentials such as food, medicine,
          clothing, and shelter. We maximize the money going to those in need by
          keeping our costs low and spending your donations wisely.
        </p>
      </div>
    </div>
    <div class="col-md-6 psize div-pad">
      <div class="div div-margin">
        <h4>
          Where Does the Money Go
        </h4>
        <p>
          We collect donations on our website using Paypal. They charge us 2.9% plus $.30 USD per transaction. Once we
          receive a group of donations, we wire money to Cambodia via Money Gram which can cost $10 or more. Our
          staff members in Cambodia collect the money and purchases the necessary goods
          that will go to individuals we have determined to be the most in need. In addition to Paypal and Money Gram
          fees, we will also incur transportation
          costs as part of our operations in Cambodia. Once needy individuals in Cambodia receive goods that will
          help them, documentation, photos, and/or video will be displayed on our website to show how the money was
          spent. We believe in full transparency as to how we use donation money. Please visit our
          <a href="/budget">Budget</a> page for a full accounting of our expenditures.
        </p>
      </div>
    </div>
    <div class="col-md-6 psize div-pad">
      <div class="div div-margin">
        <h4>
          Aware, Care, Share
        </h4>
        <p>
          Our goal of providing assistance to Cambodians in need is achieved by following three steps.
          Aware, Care, and Share:
        </p>
        <p>
          <strong>Aware:</strong> Through the use of low-cost social media marketing and other web-based
          technology, we hope to foster awareness about the plight of many Cambodians that are in desperate
          need of assistance.
        </p>
        <p>
          <strong>Care:</strong> Once we have reached out to individuals and they are aware of the
          situation in Cambodia, we hope they will care and want to do something about it.
        </p>
        <p>
          <strong>Share:</strong> Those that care about what is going on in Cambodia may want to share.
          They can share by making a donation or by helping us spread the word through social media
          channels.
        </p>
      </div>
    </div>
    <div class="col-md-6 psize div-pad">
      <div class="div div-margin">
        <h4>
          We Spend Wisely
        </h4>
        <p>
          At Feed Cambodia we like being thrift and not wasting money. We want to spend more donation money on people
          in Cambodia that need help, and less on running our organization. These are the ways we save money.
        </p>
        <p>
          <strong>Office</strong>: We don't have an office. We run our organization virtually out of our homes, from
          the local coffee shop, or wherever. We just need a computer and Internet access, and we are good-to-go. That
          way we don't waste money on rent, office equipment, electric bills, etc.
        </p>
        <p>
          <strong>Staff</strong>: We don't have a board of directors, high-paid executives, or administrative staff.
          It's just me, <a href="/chanthu">Chanthu Oeur</a> running things here in the U.S. and my brother
          Yoeut and his son Chetra managing things in Cambodia.
        </p>
        <p>
          <strong>Technology</strong>: Our technology parter, <a href="https://lahuna.com">Lahuna</a>, is developing our
          website using free open-source software that doesn't require licensing fees. Lahuna has donated hundreds of
          hours of programming time, saving us thousands of dollars.
        </p>
        <p>
          <strong>Marketing</strong>: Currently we don't use any paid advertising. We rely on word-of-mouth and sharing
          through social media channels such as Facebook, Twitter, and Google.
        </p>
      </div>
    </div>
  </div>
</div>
