<!--*****************************************************************************************************************
     Copyright 2016 Feed. All rights reserved.
     You may not copy, reproduce, republish, disassemble, decompile, reverse engineer, post, broadcast, transmit, or
     make available to the public any content or code on this website without prior written permission from Feed.
    *****************************************************************************************************************-->

<title>Feed | Ouw</title>
<meta name="description" content="Ouw needs our help buying a bed." />

<div class="container">
  <div class="row">
    <div class="col-md-12 psize div-pad">
      <div class="div div-margin">
        <h3 class="martop">
          Ouw
        </h3>
        <p>
          Ouw is an elderly woman in Cambodia. We would like to buy her a bed. She has no family to help her. Her
          neighbors share what little food they have.
        </p>
      </div>
    </div>
    <div class="col-md-6 psize div-pad">
      <div class="div div-margin">
        <div class="img-thumnail">
          <a href="https://lh3.googleusercontent.com/-o-dwizxg3G4/WAJj23_P2MI/AAAAAAAAAQA/i1jBB3L44LMqb9LlowY59tMfCIgTmAxDgCHM/s2048/received_343606625985414.jpeg">
            <img src="https://lh3.googleusercontent.com/-o-dwizxg3G4/WAJj23_P2MI/AAAAAAAAAQA/i1jBB3L44LMqb9LlowY59tMfCIgTmAxDgCHM/s500/received_343606625985414.jpeg"
            class="img img-responsive center-block" alt="A woman named Ouw that needs our help buying a bed"/>
          </a>
          <div class="caption">
            Ouw sleeps on her wood floor inside her house
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 psize div-pad">
      <div class="div div-margin">
        <div class="img-thumnail">
          <a href="https://lh3.googleusercontent.com/-Wsn3Zc99n0w/WAJj2-xnAoI/AAAAAAAAAQY/I7kDWwXYzcg3ypwq_45zPUqg0LQLcRcywCHM/s2048/received_343606502652093.jpeg">
            <img src="https://lh3.googleusercontent.com/-Wsn3Zc99n0w/WAJj2-xnAoI/AAAAAAAAAQY/I7kDWwXYzcg3ypwq_45zPUqg0LQLcRcywCHM/s500/received_343606502652093.jpeg"
            class="img img-responsive center-block" alt="A woman named Ouw that needs our help buying a bed"/>
          </a>
          <div class="caption">
            Ouw's house
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
