<!--*****************************************************************************************************************
     Copyright 2014-2020 Feed Cambodia. All rights reserved.
     You may not copy, reproduce, republish, disassemble, decompile, reverse engineer, post, broadcast, transmit, or
     make available to the public any content or code on this website without prior written permission from Feed Cambodia.
    *****************************************************************************************************************-->

<title>My Photos</title>
<meta name="description" content="My Photo album." />

<div class="container">
  <div class="row">
    <div class="col-md-12 psize div-pad">
      <div class="div div-margin">
        <h3 class="martop inline-block">
          Photos
        </h3>
        <p class="pull-right">
          <a href="https://www.flickr.com/photos/feedcambodia">
            View on Flickr
          </a>
        </p>
        <p>
          My family photo album showing my life in the Thai refugee camps. There are
          also some shots of me when I was reunited with my family in Asia 20 years later.
        </p>
      </div>
    </div>
    <div class="col-md-12" style="padding: 0px">
      <span ng-repeat="item in photos" class="img-thumbnail thumb">
        <a href="/#/flickr/{{item.id}}">
          <img ng-src="{{item.url_m | thumb}}" alt="{{item.title}}" class="img-responsive"/>
        </a>
        <div class="caption">
          {{item.description._content}}
        </div>
      </span>
		</div>
  </div>
</div>
