<!--*****************************************************************************************************************
     Copyright 2014-2018 Lahuna. All rights reserved.
     You may not copy, reproduce, republish, disassemble, decompile, reverse engineer, post, broadcast, transmit, or
     make available to the public any content or code on this website without prior written permission from Lahuna.
    *****************************************************************************************************************-->

<title>My Photos</title>
<meta name="description" content="My Photo album." />

<div class="container">
  <div class="row">
    <div class="col-md-12 psize div-pad">
      <div class="div div-margin">
        <h3 class="martop inline-block">
          Photos
        </h3>
        <p class="pull-right">
          <a href="https://plus.google.com/photos/112973952418146798615/album/6340765808908508833">
            View on Google+
          </a>
        </p>
        <p>
          My family photo album showing my life in the Thai refugee camps. There are
          also some shots of me when I was reunited with my family in Asia 20 years later.
        </p>
      </div>
    </div>
    <div class="col-md-12" style="padding: 0px">
      <span ng-repeat="item in photos.feed.entry" class="img-thumbnail thumb">
        <a href="/#/media?src={{item.media$group.media$thumbnail[0].url | full}}&amp;alt={{item.summary.$t}}">
          <img ng-src="{{item.media$group.media$thumbnail[0].url | thumb}}" alt="{{item.summary.$t}}" class="img-responsive"/>
        </a>
        <div class="caption">
          {{item.summary.$t}}
        </div>
      </span>
    </div>
  </div>
</div>
