<!--*****************************************************************************************************************
     Copyright 2014-2018 Lahuna. All rights reserved.
     You may not copy, reproduce, republish, disassemble, decompile, reverse engineer, post, broadcast, transmit, or
     make available to the public any content or code on this website without prior written permission from Lahuna.
    *****************************************************************************************************************-->

<title>Video</title>
<meta name="description" content="Videos about Cambodia." />

<div class="container">
  <div class="row">
      <div class="col-md-12">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="854" height="480"
          src="{{videoUrl}}"
          frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
  </div>
</div>
