<!--*****************************************************************************************************************
  Copyright 2014-2020 Feed Cambodia. All rights reserved.
  You may not copy, reproduce, republish, disassemble, decompile, reverse engineer, post, broadcast, transmit, or
  make available to the public any content or code on this website without prior written permission from Feed Cambodia.
  *****************************************************************************************************************-->
  <title>Privacy Policy</title>
  <meta name="description" content="Privacy Policy" />
  <div class="container">
      <div class="row">
          <div class="col-md-12 div-pad psize">
              <div class="div div-margin">
                  <h2 class="martop">
                      Feed Cambodia Privacy Policy
                  </h2>
                  <p>
                      Last modified: March 11, 2020
                  </p>
                  <p>
                    We strongly believe in maintaining your privacy when using our website. Our website itself uses local storage to save populated field data only. Our Facebook plugins use cookies and local storage.  Google Analytics uses cookies. We use Google Analytics to acquire usage statistics of the website, which is generic and does not contain any personally identifiable information. If you have any questions or concerns, contact us at feedcambodia@gmail.com. 
                  </p>
              </div>
          </div>
      </div>
  </div>