<!--*****************************************************************************************************************
     Copyright 2014-2018 Lahuna. All rights reserved.
     You may not copy, reproduce, republish, disassemble, decompile, reverse engineer, post, broadcast, transmit, or
     make available to the public any content or code on this website without prior written permission from Lahuna.
    *****************************************************************************************************************-->

<title>Share</title>
<meta name="description" content="Share about my cause on your favorite social media sites." />

<div class="container">
  <div class="row">
      <div class="col-md-6 col-md-offset-3 div div-margin">
        <div class="g-ytsubscribe"
          data-channel="feedcambodia"
          data-layout="default"
          data-count="default">
        </div>
      </div>
      <div class="col-md-6 col-md-offset-3 div div-margin psize share">
        <p>Facebook</p>
        <div class="fb-like"
          data-href="https://feedcambodia.com"
          data-layout="button_count"
          data-action="like"
          data-show-faces="false"
          data-size="large"
          data-share="true">
        </div>
        <div class="fb-follow"
          data-href="https://www.facebook.com/feedcambodia1"
          data-layout="standard"
          data-size="large"
          data-show-faces="false">
        </div>
      </div>
      <div class="col-md-6 col-md-offset-3 div div-margin psize share">
        <p>Twitter</p>
        <div>
          <a href="https://twitter.com/share"
            class="twitter-share-button"
            data-url="https://feedcambodia.com"
            data-size="large"
            data-text="Help those in need"
            data-via="Feed" data-related="Feeding the hungry"
            data-hashtags="feedcambodia">
            Tweet
          </a>
        </div>
        <div>
          <a class="twitter-follow-button"
            href="https://twitter.com/feed_cambodia"
            data-size="large">
            Follow @feedcambodia
          </a>
        </div>
      </div>
      <div class="col-md-6 col-md-offset-3 div div-margin psize share">
        <p>Google+</p>
        <div>
          <div class="g-plusone"
            data-href="https://feedcambodia.com">
          </div>
        </div>
        <div class="social2">
          <div class="g-follow"
            data-annotation="bubble"
            data-height="24"
            data-href="https://plus.google.com/+feedcambodia"
            data-rel="publisher">
          </div>
        </div>
      </div>
      <div class="col-md-6 col-md-offset-3 div div-margin psize share">
        <p>LinkedIn</p>
        <div>
          <script type="IN/Share"
            data-url="https://feedcambodia.com"
            data-counter="right">
          </script>
        </div>
        <div class="social2">
          <script type="IN/FollowCompany"
            data-id="17774006"
            data-counter="right">
          </script>
        </div>
      </div>
      <div class="col-md-6 col-md-offset-3 div div-margin psize share">
        <p>Tumblr</p>
        <div>
          <a class="tumblr-share-button"
            data-color="blue"
            data-notes="right"
            href="https://embed.tumblr.com/share">
          </a>
        </div>
        <div>
          <iframe class="btn tumblr"
            frameborder="0"
            border="0"
            scrolling="no"
            allowtransparency="true"
            height="25"
            width="100"
            src="https://platform.tumblr.com/v2/follow_button.html?type=follow&amp;tumblelog=feedcambodia&amp;color=blue">
          </iframe>
        </div>
      </div>
      <div class="col-md-6 col-md-offset-3 div div-margin psize share">
        <p>Pinterest</p>
        <div>
          <a id="pin-it" data-pin-do="buttonPin"
            data-pin-count="beside"
            data-pin-tall="true"
            data-pin-save="true"
            href="https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Ffeedcambodia.com&media=https%3A%2F%2Flh3.googleusercontent.com%2F-69Mylf3RlmA%2FV_7tVYCq7RI%2FAAAAAAAAAKg%2FExY9K_08EbE-4MJCMLpkG43POnEgJVbTQCHM%2Fs2048%2FFB_IMG_1475722124848.jpg&description=Feed%20Cambodia%20founder%2C%20Chanthu%20Oeur">
          </a>
        </div>
        <div class="social1">
          <a data-pin-do="buttonFollow"
            data-pin-count="beside"
            data-pin-tall="true"
            href="https://www.pinterest.com/feedcambodia">
            Feed Cambodia
          </a>
        </div>
      </div>
  </div>
</div>

<script src="https://platform.twitter.com/widgets.js" async defer></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src="https://platform.linkedin.com/in.js" async defer></script>
<script async defer src="https://assets.pinterest.com/js/pinit.js" data-pin-build="parsePinBtns"></script>
<script src="https://assets.tumblr.com/share-button.js" async defer></script>
