<!--*****************************************************************************************************************
  Copyright 2014-2020 Feed Cambodia. All rights reserved.
  You may not copy, reproduce, republish, disassemble, decompile, reverse engineer, post, broadcast, transmit, or
  make available to the public any content or code on this website without prior written permission from Feed Cambodia.
  *****************************************************************************************************************-->
	<title>Terms of Service</title>
	<meta name="description" content="Terms of Service" />
	<div class="container">
		<div class="row">
			<div class="col-md-12 div-pad psize">
				<div class="div div-margin">
					<h2 class="martop">
						Feed Cambodia Terms of Service
					</h2>
					<p>
						Last modified: March 9, 2020
					</p>
					<p>
                        When using our website, please observe the following:
                        (1) Respect our copyrighted material and that of our users and providers.
                        (2) Do not pose a threat to other users or our website infrastructure.
                        (3) The website is offered "As-Is", with no warranty.
                        (4) We make no guarantees of the accuracy of information posted here.
                        (5) Use third-party links at your own discretion.

                        If you have any questions or concerns, please contact us at: feedcambodia@gmail.com
                    </p>
				</div>
			</div>
		</div>
	</div>