<!--*****************************************************************************************************************
     Copyright 2014 - 2017 Lahuna. All rights reserved.
     You may not copy, reproduce, republish, disassemble, decompile, reverse engineer, post, broadcast, transmit, or
     make available to the public any content or code on this website without prior written permission from Lahuna.
    *****************************************************************************************************************-->

<title>Videos</title>
<meta name="description" content="Videos about Cambodia." />

<div class="container">
  <div class="row">
    <div class="col-md-12 psize div-pad">
      <div class="div div-margin">
        <h3 class="martop inline-block">
          Videos
        </h3>
        <a class="btn btn-default pop btn-margin pull-right" href="https://www.youtube.com/feedcambodia">
          View on Youtube
        </a>
        <a class="btn btn-default pop btn-margin pull-right" href="/#/video/search">
          Search
        </a>        
        <p>
          Here are some videos about Pol Pot and the Khmer Rouge genocide. 
          There are also some videos showing what life is like for the poor in Cambodia.
          Click "Search" to find more videos.
        </p>
      </div>
    </div>
    <div class="col-md-12">
      <span ng-repeat="item in videos.items | orderBy : 'snippet.title'" class="img-thumbnail thumb-video">
        <a href="/#/player/playlist/{{item.id}}">
          <img ng-src="{{item.snippet.thumbnails.default.url | thumb}}" alt="{{item.snippet.title}}" class="img-responsive"/>
        </a>
        <div class="caption">
          {{item.snippet.title}}
        </div>
      </span>
    </div>
  </div>
</div>
