<!--*****************************************************************************************************************
     Copyright 2016 Feed. All rights reserved.
     You may not copy, reproduce, republish, disassemble, decompile, reverse engineer, post, broadcast, transmit, or
     make available to the public any content or code on this website without prior written permission from Feed.
    *****************************************************************************************************************-->

<title>Feed | Videos</title>
<meta name="description" content="Videos about Cambodia." />

<div class="container">
  <div class="row">
    <div class="col-md-12 div-pad">
      <div class="div div-margin">
        <h3 class="martop inline-block">
          Videos
        </h3>
        <p class="pull-right size">
          <a href="https://www.youtube.com/feedcambodia">
            View on Youtube
          </a>
        </p>
        <p class="size">
          Here are some videos explaining Cambodia's history during the Pol Pot Khmer Rouge
          regime. They show what life was like for many Cambodians during that time period.
        </p>
      </div>
    </div>
    <div class="col-md-12">
      <span ng-repeat="item in videos.items | orderBy : 'snippet.title'" class="img-thumbnail thumb-video">
        <a href="/player/{{item.id}}">
          <img ng-src="{{item.snippet.thumbnails.default.url | thumb}}" alt="{{item.snippet.title}}" class="img-responsive"/>
        </a>
        <div class="caption">
          {{item.snippet.title}}
        </div>
      </span>
    </div>
  </div>
</div>
