<!--*****************************************************************************************************************
     Copyright 2016 Chanthu Oeur. All rights reserved.
     You may not copy, reproduce, republish, disassemble, decompile, reverse engineer, post, broadcast, transmit, or
     make available to the public any content or code on this website without prior written permission from Chanthu Oeur.
    *****************************************************************************************************************-->

<title>Wiki Images</title>
<meta name="description" content="Wiki Images." />

<div class="container">
  <div class="row">
    <div class="col-md-12 div-pad text-center" ng-show="msg">
      <div class="div-small div-margin">
        <h4 class="inline-block">{{msg}}</h4>
        <a href="/wiki/extract/{{title}}" ng-show="info"><span class="btn btn-default btn-margin">Extract</span></a>
      </div>
    </div>
    <div class="col-md-12">
      <span ng-repeat="item in info" class="img-thumbnail thumb">
        <a href="/wiki/commons/image/{{item.title}}">
          <img ng-src="{{item.thumburl}}" class="img-responsive"/>
        </a>
        <div class="caption wrap">
          {{item.title}}
          <div><span class="btn glyphicon glyphicon-trash" ng-click="hide($index)"></span></div>
        </div>
      </span>
    </div>
  </div>
</div>
