<!--*****************************************************************************************************************
     Copyright © 2016 Feed. All rights reserved.
     You may not copy, reproduce, republish, disassemble, decompile, reverse engineer, post, broadcast, transmit, or
     make available to the public any content or code on this website without prior written permission from Feed.
    *****************************************************************************************************************-->

<title>Feed | About Yoeut Sean</title>
<meta name="description" content="Yoeut Sean of Feed Cambodia." />

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h3>
        Yoeut Sean
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <a href="/images/IMG_20160518_184635622-3.jpg">
        <img src="/images/IMG_20160518_184635622-3.small.jpg" alt="Yoeut Sean in Suit" class="img img-responsive thumbnail"/>
      </a>
    </div>
    <div class="col-md-8 psize">
      <p>
        Yoeut is our liason in Cambodia responsible for aid purchasing and distribution.
      </p>
    </div>
  </div>
</div>
