<!--*****************************************************************************************************************
     Copyright © 2016 Feed. All rights reserved.
     You may not copy, reproduce, republish, disassemble, decompile, reverse engineer, post, broadcast, transmit, or
     make available to the public any content or code on this website without prior written permission from Feed.
    *****************************************************************************************************************-->

<title>Feed | About Yoeut Sean</title>
<meta name="description" content="Yoeut Sean of Feed Cambodia." />

<div class="container">
  <div class="col-md-3 div div-margin">
  <div class="row">
      <h3 class="text-center martop">
        Yoeut Sean
      </h3>
  </div>
  <div class="row">
      <a href="https://lh3.googleusercontent.com/-lXKgjr8QfEg/V_7tVVTfurI/AAAAAAAAALY/LYO6lnOIuQ0SHji99jyzctYKX7ofF1VDgCHM/s2048/IMG_20160518_184635622-3.jpg">
        <img class="img img-responsive img-thumbnail center-block" src="https://lh3.googleusercontent.com/-lXKgjr8QfEg/V_7tVVTfurI/AAAAAAAAALY/LYO6lnOIuQ0SHji99jyzctYKX7ofF1VDgCHM/s250/IMG_20160518_184635622-3.jpg" alt="Yoeut Sean in Suit"/>
      </a>
  </div>
  </div>
    <div class="col-md-8 psize div">
      <p>
        Yoeut is our liaison in Cambodia responsible for aid purchasing and distribution. Under the Khmer Rouge regime he was
        forced into hard labor building a dam. After that, while struggling to make a living at the Thai Cambodian border, he
        stepped on a land mine. He did not lose any limbs, but sustained life-threatening injuries to his torso. He still has
        shrapnel in his body to this day. Because he left the Thai refugee camp to find work, he was unable to
        obtain sponsorship to the USA. In 1990 he was able to move back to his hometown in Cambodia and resume his livelihood
        as a rice farmer.
      </p>
    </div>
  </div>
</div>
